body {
    background: black;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 18px;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
}

.divider {
    display: block;
    margin: 100px auto;
}

.logo {
    display: inline;
}

.contact-info {
    float: right;
    display: block;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.email-link {
    color: white;
}

.email-link:hover {
    color: cyan;
}

.email-link:active {
    color: magenta;
}

section {
    display: block;
    margin: 100px auto;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: auto;
    border-top: solid 1px cyan;
}

section *::selection {
    background: magenta;
}

section:nth-child(even) {
    border-top-color: magenta;
}

section:nth-child(even) *::selection {
    background: cyan;
}

section:nth-child(2) {
    border-top: none;
    padding-top: 0;
}

section#tipcalc {
    padding-bottom: 0;
}

section header {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 20px 0;
}

section:nth-child(odd) header {
    text-align: right;
}

section:nth-child(odd) > div.thumbs,
section:nth-child(even) > div.description {
    float: left;
}

section:nth-child(odd) > div.description,
section:nth-child(even) > div.thumbs {
    float: right;
}

section .description {
    width: 33%;
}

section .thumbs {
    width: 66%;
}

section .thumbs img {
    max-width: 28%;
    border: solid 1px white;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 1080px) {
    .logo {
        display: block;
        margin: auto;
        clear: both;
        width: 100%;
    }

    .contact-info {
        float: none;
        text-align: center;
    }

    .container {
        width: 90%;
    }

    .divider {
        width: 100%;
        margin: 50px auto;
    }

    section {
        margin: 50px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    section header {
        font-size: 1.5em;
    }

    section .description {
        width: auto;
    }

    section .thumbs {
        width: auto;
    }

    section .thumbs img {
        max-width: 48%;
        border: solid 1px white;
    }

    section:nth-child(odd) header, {
        text-align: left;
    }

    section:nth-child(odd) > div.thumbs,
    section:nth-child(even) > div.description,
    section:nth-child(odd) > div.description,
    section:nth-child(even) > div.thumbs {
        float: none;
    }
}

